.main-nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-size: 1.2rem;
}

.logo h1 {
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: 10;
  background-color: #eaebff;
}

.nav-item .nav-link {
  margin: 0 1rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  right: -25px;
  bottom: 25px;
  background-color: blue;
  background: linear-gradient(to top left, blue, rgb(83, 83, 168));
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.nav-item .nav-link:hover::before {
  top: -25px;
  bottom: -25px;
  opacity: 1;
}

.nav-item .nav-link.active::before {
  top: -25px;
  bottom: -25px;
  opacity: 1;
}

.nav-item .nav-link {
  color: black;
}

.nav-item .nav-link:hover {
  color: white;
}

.nav-item .active.nav-link {
  color: white;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons div i {
  margin: 0 0.5rem;
  cursor: pointer;
  background: linear-gradient(to top left, blue, rgb(83, 83, 168));
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  transition: transform 0.2s ease-in;
}

.nav-icons div i:hover {
  transform: translateY(-4px);
}

.nav-items.nav-active {
  transform: translateY(0);
}

.nav-toggler {
  display: none;
}

.nav-toggler i {
  font-size: 1.5rem;
}

.accounts {
  position: relative;
}

.accounts .account {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  left: -3rem;
  width: 15rem;
  z-index: 20;
  background-color: white;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.accounts .account::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 26%;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(to top left, blue, rgb(83, 83, 168));
  transform: rotate(45deg);
  z-index: -2;
  border-top: solid 1px black;
  border-left: solid 1px black;
}

.accounts .account a {
  padding: 1rem;
  border-radius: 0.4rem;
  color: black;
}

.account-hidden {
  opacity: 0;
  z-index: -100;
  transform: translateY(-0.6rem);
}

.accounts .account a:hover {
  background-color: rgb(155, 153, 153);
}

.search {
  position: relative;
}

.search-bar {
  position: absolute;
  top: 3rem;
  left: -7rem;
  z-index: 21;
  border: blue solid 1px;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(to top left, blue, rgb(83, 83, 168));
  border-radius: 0.4rem;
  transition: all 0.2s ease-in;
}

.search-bar-hidden {
  opacity: 0;
  z-index: -1;
  transform: translateY(-0.5rem);
}

.search-bar__form {
  display: flex;
}

.search-input {
  width: 12rem;
  border: none;
  border-bottom-left-radius: 0.4rem;
  outline: none;
  padding: 0.2rem 0.4rem;
}

.search-button {
  border: none;
  background-color: white;
  padding: 0.2rem 0.4rem;
  border-top-right-radius: 0.4rem;
}

@media (max-width: 750px) {
  .section {
    margin-bottom: 1rem;
  }

  .container {
    margin: 0 auto;
  }

  .nav-toggler {
    display: block;
  }

  .main-nav {
    justify-content: space-between;
    /* padding: 0 1rem; */
  }

  .nav-items {
    position: absolute;
    top: 5rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
    width: 100%;
    transform: translateY(-500px);
    transition: all 0.5s ease-in;
    font-size: 1.2rem;
  }

  .logo {
    padding-left: 1rem;
  }

  .nav-toggler {
    padding-right: 1rem;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .nav-toggler i {
    font-size: 1.2rem;
  }
}
